* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-self: center;
    background-size: cover;
    overflow: hidden;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 30px;
}

section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}


img {
    width: 90vw;
    height: 70vh;
    border-radius: 20px 20px 0 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

#contador {
    background-color: black;
    width: 90vw;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

i {
    font-style: normal;
    font-weight: bold;
    color: rgb(255, 90, 90);
}

@media screen and (min-width: 768px) {
    img {
        width: 100%;
    }

    main {
        width: 380px;
        padding-bottom: 0;
    }

    #contador {
        width: 100%;
    }
}